
<template>
  <div class="tselect">
    <h1>Edit Selection</h1>
    <div class="form">
      <div>
        <label for="title">Entrer un Nom : <br/></label>
        <input type="text" v-model="Title" name = title id="title"
               placeholder="Nom ?"/> <br/>

        Choose Your Specialities : <br/> <br/>
        <input align="center" type="checkbox" v-model="Archer" name="archer" id="archer"/>
        <label for="archer">Archer</label><br/>

        <input align="center" type="checkbox" v-model="Chevalier" name="chevalier" id="chevalier"/>
        <label for="chevalier">Chevalier</label><br/>

        <input align="center" type="checkbox" v-model="Epéiste" name="épeiste" id="épeiste"/>
        <label for="épeiste">Epéiste</label><br/>

        <input align="center" type="checkbox" v-model="Lancier" name="lancier" id="lancier"/>
        <label for="Lancier">Lancier</label><br/><br/>

        <button class="app_select_btn" @click="updateSelect">Mettre à Jour</button>
      </div>
    </div>
  </div>
</template>

<script>
  import TService from '@/services/TypeServices'

  function testCheck(cas) {
    if(cas == 'X') {
      return true
    }
    return false
  }
  function ChangValue(bool) {
    if (bool == true) {
      return 'X';
    }
  }
  export default {
    name: 'EditSelect',
    data () {
      return {
        Title: '',
        Archer: '',
        Chevalier: '',
        Epéiste: '',
        Lancier: ''
      }
    },
    mounted () {
      this.getSelect()
    },
    methods: {
      async getSelect () {
        const response = await TService.getSelect({
          id: this.$route.params.id
        })
          this.Title = response.data.Title,
          this.Archer = testCheck(response.data.Archer),
          this.Chevalier = testCheck(response.data.Chevalier),
          this.Epéiste = testCheck(response.data.Epéiste),
          this.Lancier = testCheck(response.data.Lancier)
      },
      async updateSelect () {
        await TService.updateSelect({
          id: this.$route.params.id,
          Title: document.getElementById('title').value,
          Archer: ChangValue(document.getElementById('archer').checked),
          Chevalier: ChangValue(document.getElementById('chevalier').checked),
          Epéiste: ChangValue(document.getElementById('épeiste').checked),
          Lancier: ChangValue(document.getElementById('lancier').checked)
        })
        this.$router.push({ name: 'Tselect' })
      },
    }
  }
</script>
<style type="text/css">
    input{
      text-align: center;
    }
    input [type="text"]{
    width: 100px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
      text-align: center;
    }
    input[type="checkbox"]
    {
      float:left;
      margin-left: 33%;
    }
    div {
    margin: 20px;
    }
  .app_select_btn {
    color: #fff;
    background: brown;
    padding: 5px 80px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    width: 200px;
    border: none;
    cursor: pointer;
  }
</style>
