<template>
  <div class="mselect">
    <h1>Emperer Interface</h1>
    <div class="table-wrap">
      <table>
        <tr>
          <td  align="center">Types</td>
          <td  align="center">Noms des Gladiateurs</td>
          <td  align="center">Modifier</td>
        </tr>
        <tr>
          <td rowspan="2">Archer </td>
          <td><input align="center" type="radio" name="choixa" id="commodus"/>
          <label for="Commodus">Commodus</label><br/>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <input align="center" type="radio"  name="choixa" id="flamma"/>
            <label for="Flamma">Flamma</label><br/>
          <td></td>
        </tr>
        <tr>
          <td rowspan="2">Chevalier </td>
          <td>
            <input align="center" type="radio" name="choixc" id="jeanclaudedus"/>
            <label for="Jeanclaudedus">Jeanclaudedus</label><br/>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <input align="center" type="radio" name="choixc" id="spiculus"/>
            <label for="Spiculus">Spiculus</label><br/>
          <td></td>
        </tr>
        <tr>
          <td rowspan="4">Epéiste</td>
          <td>
            <input align="center" type="radio" name="choixe" id="maximus"/>
            <label for="Maximus">Maximus</label><br/>
          </td>
          <td><input align="center" type="radio" name="choixarm" id="1main"/>
            <label for="1main">Arme à Une Main</label><br/>
          <input align="center" type="radio" name="choixarm" id="2main"/>
            <label for="2main">Arme à deux Main</label><br/>
          </td>

        </tr>
        <tr>
          <td>
            <input align="center" type="radio"  name="choixe" id="spartacus"/>
            <label for="Spartacus">Spartacus</label><br/>
          <td><input align="center" type="radio" name="choixarm" id="1main"/>
            <label for="1main">Arme à Une Main</label><br/>
            <input align="center" type="radio" name="choixarm" id="2main"/>
            <label for="2main">Arme à deux Main</label><br/>
          </td>
        </tr>
        <tr>
          <td>
            <input align="center" type="radio" name="choixe" id="pollux"/>
            <label for="Pollux">Pollux</label><br/>
          <td><input align="center" type="radio" name="choixarm" id="1main"/>
            <label for="1main">Arme à Une Main</label><br/>
            <input align="center" type="radio" name="choixarm" id="2main"/>
            <label for="2main">Arme à deux Main</label><br/>
          </td>
        </tr>
        <tr>
          <td>
            <input align="center" type="radio"  name="choixe" id="priscus"/>
            <label for="Priscus">Priscus</label><br/>
          <td><input align="center" type="radio" name="choixarm" id="1main"/>
            <label for="1main">Arme à Une Main</label><br/>
            <input align="center" type="radio" name="choixarm" id="2main"/>
            <label for="2main">Arme à deux Main</label><br/>
          </td>
        </tr>
        <tr>
          <td rowspan="2">Lancier</td>
          <td>
            <input align="center" type="radio" name="choixl" id="ganicus"/>
            <label for="Ganicus">Ganicus</label><br/>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <input align="center" type="radio" name="choixl" id="Crixus"/>
            <label for="Crixus">Crixus</label><br/>
          <td></td>
        </tr>
      </table><br/>
      <button class="add_emp_btn" @click="addChamp">Ajouter Selection</button>
    </div>

  </div>
</template>

<script>
  import TService from '@/services/TypeServices'
  function RecupBouton(choix) {
    var bouton = document.getElementsByName(choix);
    for(var i = 0; i < boutons.length; i++){
      if(boutons[i].checked){
        return boutons[i].value;
      }
    }
  }
  export default {
    name: 'Empselect',
    data() {
      return {
        mselect: []
      }
    },
    mounted() {
      this.getSelect()
    },
    methods: {
      async getSelect() {
        const response = await TService.fetchTabSelect({
          id: this.$route.params.id
        });
        console.log('response.data.mselect : ' + response.data);
        this.mselect = response.data;
      },
      async addChamp() {
        await TService.addChoixSelect({
          CArcher: 'AAA',
          CChevalier: 'BBB',
          CEpéiste: 'CCC',
          CLancier: RecupBouton(choixl)
        })
        this.$router.push({name: 'Tselect'})
      },
    }
  }
</script>
<style type="text/css">
  table{
    border-collapse: collapse;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
  }
  table tr {
    text-align: center;
  }
  table thead {
    background: brown;
  }
  table tr td {
    padding: 0.2%;
    border: 1px solid brown;
  }
  table tr:nth-child(odd) {
    background: gainsboro;
  }
  table tr:nth-child(1) {
    background: brown;
    color: #fff;
  }

  a {
    color: brown;
  }
  a.add_emp_btn  {
    color: #fff;

    background: brown;
    padding: 0.1% 1%;
    text-transform: uppercase;
    font-size: 0.8%;
    font-weight: bold;
    border: none;
    cursor: pointer;

  }
</style>
