<template>
  <div class="tselect">
    <h1>Room Select</h1>
    <div class="form">

      <div>
        <label for="title">Entrer un Nom : <br/></label>
        <input type="text" v-model="Title" name = title id="title"
               placeholder="Obligatoire"/> <br/>

          Choose Your Specialities : <br/> <br/>
          <input align="center" type="checkbox" v-model="Archer" name="archer" id="archer"/>
          <label for="archer">Archer</label><br/>

          <input align="center" type="checkbox" v-model="Chevalier "name="chevalier" id="chevalier"/>
          <label for="chevalier">Chevalier</label><br/>

          <input align="center" type="checkbox" v-model="Epéiste" name="épeiste" id="épeiste"/>
          <label for="épeiste">Epéiste</label><br/>

          <input align="center" type="checkbox" v-model="Lancier" name="lancier" id="lancier"/>
          <label for="lancier">Lancier</label><br/><br/>


          <button class="app_select_btn" @click="addSelect">Ajouter</button>
      </div>
    </div>
  </div>
</template>

<script>
  import TService from '@/services/TypeServices'
  function ChangValue(bool) {
      if(bool == true) {
        return 'X';
      }
      else{
        return ''
      }
  }
  export default {
    name: 'NewSelect',
    data () {
      return {
      }
    },
    methods: {
      async addSelect () {
        await TService.addSelect({
            Title : document.getElementById('title').value,
            Archer : ChangValue(document.getElementById('archer').checked),
            Chevalier : ChangValue(document.getElementById('chevalier').checked),
            Epéiste : ChangValue(document.getElementById('épeiste').checked),
            Lancier: ChangValue(document.getElementById('lancier').checked)
        })
        this.$router.push({ name: 'Tselect' })
      }
    }
  }
</script>
<style type="text/css">
  input{
    text-align: center;
  }
  input [type="text"]{
    width: 100px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
  }
  div {
    margin: 20px;
  }
  .app_select_btn {
    color: #fff;
    background: brown;
    padding: 5px 80px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
</style>
