<template>
  <div class="tselect">
    <h1>Ludus Interface</h1>
    <div v-if="tselect.length > 0" class="table-wrap">
      <table>
        <tr>
          <td  align="center">Name</td>
          <td  align="center">Archer</td>
          <td  align="center">Chevalier</td>
          <td  align="center">Epéiste</td>
          <td  align="center">Lancier</td>
          <td  align="center"></td>
        </tr>
        <tr v-for="select in tselect">
          <td><router-link v-bind:to="{ name: 'EmpSelect', params: { id: select._id } }">{{ select.Title }}
            </router-link></td>
          <td>{{ select.Archer}}</td>
          <td>{{ select.Chevalier }}</td>
          <td>{{ select.Epéiste }}</td>
          <td>{{ select.Lancier }} </td>
          <td align="center">
            <router-link v-bind:to="{ name: 'EditSelect', params: { id: select._id } }">Modifier</router-link> |
            <a href="#" @click="deleteSelect(select._id)">Supprimer</a>
          </td>
        </tr>
      </table><br/>
      <div>
        <router-link  v-bind:to="{ name: 'NewSelect' }" class="add_selectt_link">Ajouter Selection</router-link><br/>
      </div>
    </div>
    <div v-else>
      There are no selection!  Add now one <br /><br />
      <router-link v-bind:to="{ name: 'NewSelect' }" class="add_selectt_link">Ajouter Selection</router-link>
    </div>
  </div>
</template>

<script>
  import TService from '@/services/TypeServices'
  export default {
    name: 'Tselect',
    data () {
      return {
        tselect: []
      }
    },
    mounted () {
      this.getSelect()
    },
    methods: {
      async getSelect () {
        const response = await TService.fetchSelect()
        this.tselect = response.data.tselect
      },

      async deleteSelect (id) {
        await TService.deleteSelect(id)
        window.location.reload()
      }
    }
  }
</script>
<style type="text/css">
  table{
    border-collapse: collapse;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
  }
  table tr {
    text-align: center;
  }
  table thead {
    background: brown;
  }
  table tr td {
    padding: 0.2%;
    border: 1px solid brown;
  }
  table tr:nth-child(odd) {
    background: gainsboro;
  }
  table tr:nth-child(1) {
    background: brown;
    color: #fff;
  }

  a {
    color: brown;
  }
   a.add_selectt_link  {
     color: #fff;

     background: brown;
     padding: 0.1% 1%;
     text-transform: uppercase;
     font-size: 0.8%;
     font-weight: bold;
     border: none;
     cursor: pointer;

  }
</style>
